body{
    margin:0;
    margin-top:0;
    }
.loc
{
height:4%;
width:3%;

}


.sun
{
height:550px;
}
.vid1
{
width:100%;
height:100%;
object-fit:cover;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1;
}
.sun_city
{
margin-left:3%;
padding-top:40px;
color:white;
font-size:300%;
}
.sun_current
{
margin-left:3%;

color:white;
}

.sun_template
{
background-color:white;
opacity:0.5;
margin-left:3%;
width:25%;
}
.sun_day
{
margin-left:8%;
padding-top:20px;
}

.sun_txt
{
display:flex;
color:black;
padding-left:30px;
}
.sun_temp
{
font-size:400%;
}
.sun_weather
{

margin-left:3%;
margin-top:13%;
font-size:130%;
}

.moon
{
      height:550px;
}
.vid4
{
width:100%;
height:100vh;
object-fit:cover;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1;
}
.moon_city
{
margin-left:3%;
padding-top:40px;
color:white;
font-size:300%;
}
.moon_current
{
margin-left:3%;

color:white;
}

.moon_template
{
background-color:white;
opacity:0.5;
margin-left:3%;
width:25%;
}
.moon_day
{
margin-left:8%;
padding-top:20px;
}

.moon_txt
{
display:flex;
color:black;
padding-left:30px;
}
.moon_temp
{
font-size:400%;
}
.moon_weather
{

margin-left:3%;
margin-top:13%;
font-size:130%;
}

.evening
{
      height:550px;
}
.vid2
{
width:100%;
height:100%;
object-fit:cover;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1;
}
.evening_city
{
margin-left:3%;
padding-top:40px;
color:white;
font-size:300%;
}
.evening_current
{
margin-left:3%;

color:white;
}

.evening_template
{
background-color:white;
opacity:0.5;
margin-left:3%;
width:25%;
}
.evening_day
{
margin-left:8%;
padding-top:20px;
}

.evening_txt
{
display:flex;
color:black;
padding-left:30px;
}
.evening_temp
{
font-size:400%;
}
.evening_weather
{

margin-left:3%;
margin-top:13%;
font-size:130%;
}
.rain
{
      height:500px;
}
.vid3
{
width:100%;
height:100vh;
object-fit:cover;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1;
}
.rain_city
{
margin-left:3%;
padding-top:40px;
color:white;
font-size:300%;
}
.rain_current
{
margin-left:3%;

color:white;
}

.rain_template
{
background-color:white;
opacity:0.5;
margin-left:3%;
width:25%;
}
.rain_day
{
margin-left:8%;
padding-top:20px;
}

.rain_txt
{
display:flex;
color:black;
padding-left:30px;
}
.rain_temp
{
font-size:400%;
}
.rain_weather
{

margin-left:3%;
margin-top:13%;
font-size:130%;
}

.snow
{
      height:500px;
}
.vid5
{
width:100%;
height:100vh;
object-fit:cover;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1;
}


.about
{

height:200px;
background-color:#0F3460;
color:white;
display:flex;

}
.humi
{
margin-top:3%;
margin-left:5%
}
.pre
{
margin-top:3%;
margin-left:12%
}
.des
{
margin-top:3%;
margin-left:12%
}
.wind
{
margin-top:3%;
margin-left:12%
}
.humi_head
{
color:grey;
}
.humi_txt
{
font-size:250%;
}
.pre_head
{
color:grey;
}
.pre_txt
{
font-size:250%;
}
.des_head
{
color:grey;
}
.des_txt
{
font-size:250%;
}
.wind_head
{
color:grey;
}
.wind_txt
{
font-size:250%;
}


.next
{
height:230px;
display:flex;
background-color:black;
opacity:0.7;
}
.pre1
{
margin-left:10%;
color:white;
}
.pre2
{
margin-left:20%;
color:white;
}
.pre3
{
margin-left:20%;
color:white;
}
.pre4
{
margin-left:20%;
margin-right:5%;
color:white;

}
.logo1_1
{
height:30%;
width:45%;
margin-left:45%;
}
.logo1_2
{
height:30%;
width:55%;
margin-left:35%;
}
.logo1_3
{
height:60%;
width:65%;
margin-left:43%;
padding-bottom:50px;
}
.logo1_4
{
height:30%;
width:55%;
margin-left:35%;
}
.logo1_5
{
height:35%;
width:80%;
margin-left:35%;
}
.line1
{
width:120%;
}
.line2
{
width:120%;
}
.line3
{
width:120%;
}
.line4
{
width:120%;
}
.next_txt1
{
margin-left:25%;
}
.next_txt2
{
margin-left:25%;
}
.next_txt3
{
margin-left:25%;
}
.next_txt4
{
margin-left:25%;
}
.time1
{
margin-left:25%;
}
.time2
{
margin-left:25%;
}
.time3
{
margin-left:25%;
}
.time4
{
margin-left:25%;
}


* {
  box-sizing: border-box;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}



form.example::after {
  content: " ";
  clear: both;
  display: table;}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  padding-up:20px;
}

.button:hover {
  background-color: #f1f1f1;
}

.but1
{
display:flex;
margin-left:78%;

}